{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <style>
    div.form-group
    {
        color: grey;
        font-size: 20px;
    }

    #top{
    height:510px;
    }

    </style>
</head>
<body>
<br><br><br>
<div class="row">
    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="card-content">
                    <div class="input-group">
                        <div class="form-group label-floating">
                            <label class="control-label">Utilizator</label>
                            <input type="text" name="username" class="border-bottom-1px form-control" >
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-group label-floating">
                            <label class="control-label">Parolă</label>
                            <input type="password" name="password" class="border_bottom_1px form-control" >
                        </div>
                    </div>
                </div>
                <br>
                <div class="text-left">
                    <button type="submit" class="width_200px btn bnt-blue btn-fill btn-save"
                            onclick="{% url 'login' %}">Autentificare
                    </button>
                </div>
                <br>
               <div class="text-left">
                   <a class="color_blue d-block small text-forgot-password" href="{% url 'password_reset' %}">
                       Ai uitat parola? Click <span style="text-decoration: underline">aici</span>.</a>
               </div>
                {% for error in form.non_field_errors %}
                <div class="text-center">
                    <p class="color_white margin_top_50px error-form_login">{{ error }}</p>
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
{% endblock %}