<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Creare Cont</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'Regform/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <style>
    div.field
    {
        color: grey;
        width: 30%;
    }

        #top{
    height:750px;
    }

    </style>
</head>
<body>

<div class="main" style="margin-top:30px">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <form method="POST" id="signup-form" class="signup-form">
                    {% csrf_token %}
                    <br>
                    <h2 class="form-title" style="color:grey">Creaza un cont nou</h2>
                    <div class="field">
                        {% for field in form %}
                        <div class="form-group">
                            <br/>
                            {{ field }}
                            {{ field.errors }}
                            {% endfor %}
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <label class="label-agree-term"><span><span></span></span>Sunt de acord cu
                        termenii si conditiile <a href="{% url 'accounts:terms' %}" class="term-service">Termeni si
                            conditii</a></label>
                </div>
                <div class="form-groups">
                    <input type="submit" name="submit" id="submit" class="form-submit" value="Modifica datele"/>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- JS -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
{% endblock %}