{% extends 'base.html' %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="box">
        <div class="field">
            {% for field in form %}
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        {{ field.label }} {{ field }}
                        {{ field.errors }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-info">Salvează</button>
    </div>
</form>
{% endblock %}