{% extends 'base.html' %}
{% block content %}

<head>
    <style>
            #top{
    height:600px;
    }


    </style>
</head>
<body class="" data-admin-utc-offset="0">

<!-- Container -->
<div id="container" style="background:#000">


    <!-- Header -->
    <div id="header">


    </div>
    <!-- END Header -->

    <div class="breadcrumbs" style="color:grey">
        <a href="/password_reset/">Resetare parola</a>
        › Parola resetata cu succes
    </div>

    <!-- Content -->
    <div id="content" class="colM" style="color:grey">

        <h1 align="center">Parola resetata. <br>Va rugam verificati adresa de e-mail</h1><br><br>


        <p>Pe adresa de email introdusa, am retransmis informatiile legate de resetarea parolei.
            Ar trebui sa primiti in scurt timp un e-mail de confirmare, daca exista un cont asociat adresei de e-mail
            introdusa.</p>

        <p>Daca totusi nu primiti e-mailul de confirmare, va rugam sa va asigurati ca adresa de e-mail introdusa
            este identica cu adresa cu care v-ati creat contul. De asemenea va rugam sa verificati si folderul de
            spam.</p>


        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->


</body>

{% endblock %}