{% extends 'base.html' %}
{% block content %}
{% csrf_token %}
<head>
    <style>
            #top{
    height:510px;
    }

    </style>
</head>
<body class="" data-admin-utc-offset="0">

<!-- Container -->
<div id="container" style="background:#000">


    <!-- Header -->
    <div id="header">
<!--        <div id="branding">-->

<!--            <h1 id="site-name"><a href="/admin/">Django administration</a></h1>-->

<!--        </div>-->


    </div>
    <!-- END Header -->

    <div class="card-content" style="color:grey">
        <a href="/login/">Login</a>
        › Resetare parola
    </div>


    <!-- Content -->
    <div id="content" class="colM">

        <h1 style="color:grey">Resetare parola</h1>


        <p style="color:grey">Va rugam, introduceti adresa de e-mail mai jos. Veti primi un link pentru resetarea parolei</p>

        <form method="post"><input type="hidden" name="csrfmiddlewaretoken"
                                   value="TYYYqYRDoqBcUfYJWVEaTOOUGNcMcWnbYawV2Ky3CXndVT9bp9Q86EaXa22IJuNP">
            {% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-email">

                    <label for="id_email" style="color:grey">&nbspAdresa e-mail: &nbsp&nbsp&nbsp </label>
                    <input type="email" name="email" autocomplete="email" maxlength="254" required=""
                           id="id_email" class="border_bottom_1px form-control" style="width:30%">
                </div><br>
                <input type="submit" value="Reseteaza parola" >
            </fieldset>
        </form>


        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->


</body>
{% endblock %}