<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    #top {
    height:100px;
    background:#000;
    }
    </style>
</head>
<body>
<div id="content" class="col-sm-8 col-md-9"><br><br>
    <h1>Termeni si conditii</h1>
    <p style="text-align: justify;"><strong>Termeni generali</strong></p>
    <p style="text-align: justify;">URBAN GEAR este denumirea comerciala a SC URBAN SHOES SRL, persoana juridica cu
        sediul in Bucuresti, Str. Martisor nr. 22, sector 4, inregistrata la Registrul Comertului sub numarul nr.
        J40/8884/2002, avand CUI RO14872336, numita in continuare URBAN GEAR.</p>
    <p style="text-align: justify;">Va rugam sa cititi acesti termeni si conditii cu atentie pentru folosirea in cele
        mai bune conditii a site-ului. Utilizarea acestui site implica acceptarea tacita a termenilor si a conditiilor
        de utilizare prezentate mai jos, care reprezinta intelegerea (<strong>contractul</strong>) dintre parti.</p>
    <p style="text-align: justify;">In calitate de autor/ proprietar/ administrator al site-ului <strong>www.urbangear.ro</strong>,
        URBAN GEAR isi rezerva dreptul de a schimba si actualiza in orice moment continutul acestuia, precum si
        Politica de confidentialitate, Termenii si conditiile de folosire, fara o notificare prealabila. Astfel, va
        rugam sa vizitati periodic aceasta sectiune pentru a verifica termenii si conditiile pe care ati agreat sa le
        respectati.</p>
    <p style="text-align: justify;"><strong>Drepturi de autor</strong></p>
    <p>Continutul site-ului<strong> </strong><a
            href="{% url 'Produs:home' %}">www.urbangear.ro</a><strong> </strong>este proprietatea SC URBAN SHOES
        SRL.</p>
    <p style="text-align: justify;">URBAN GEAR garanteaza utilizatorului acces limitat pe site-ul&nbsp;www.urbangear.ro,
        in interes personal (efectuarea de comenzi online sau informare) si nu ii confera dreptul de a descarca sau de a
        modifica partial sau integral site-ul, de a reproduce partial sau integral site-ul, de a copia, de a
        vinde/revinde sau de a exploata site-ul in orice alta maniera, in scopuri comerciale sau contrare intereselor
        companiei URBAN GEAR fara acordul prealabil scris al acesteia.</p>
    <p style="text-align: justify;">Bazele de date, programe, elemente de grafica, sunt proprietatea SC URBAN SHOES SRL,
        sau, dupa caz, a furnizorilor produselor oferite prin intermediul site-ului si este protejat de Legea nr.
        8/1996, privind dreptul de autor si drepturile conexe, cu modificarile si completarile ulterioare.</p>
    <p style="text-align: justify;">Copierea, stocarea, modificarea partiala sau in intregime a site-ului este strict
        interzisa si se pedepseste conform legilor in vigoare privind protectia drepturilor de autor. In calitate de
        utilizator, dumneavoastra sunteti pe deplin acord cu cele mai sus mentionate.</p>
    <p style="text-align: justify;"><strong>Sesizari</strong></p>
    <p style="text-align: justify;">In cazul in care observati ca am adus atingere in vreun fel asupra drepturilor de
        autor, produsele receptionate sunt contrafacute sau incalca drepturi la marca, va rugam sa ne comunicati acest
        lucru pe adresa de e-mail: <a href="mailto:contact@urbangear.ro">contact@urbangear.ro</a>. URBAN GEAR va
        raspunde sesizarii in maxim 2 zile lucratoare.</p>
    <p style="text-align: justify;"><strong>Securitatea datelor personale</strong></p>
    <p style="text-align: justify;">Conform Legii nr. 677/2001 pentru protectia persoanelor cu privire la prelucrarea
        datelor cu caracter personal si libera circulatie a acestor date, modificata si completata, si ale Legii nr.
        506/2004 privind prelucrarea datelor cu caracter personal si protectia vietii private in sectorul comunicatiilor
        electronice, informatiile furnizate de dumneavoastra vor fi folosite de URBAN GEAR exclusiv in scopul declarat
        al site-ului. Astfel, datele din formularul de comanda vor fi folosite numai pentru a va trimite confirmarea
        comenzilor, promotii, buletinele informative periodice (doar in masura in care sunteti de acord sa primiti acest
        gen de informatii) facturare si pentru livrarea comenzilor etc.</p>
    <p style="text-align: justify;">Nu sunteti obligat sa furnizati datele personale, insa refuzul face imposibila
        prelucrarea comenzii si derularea livrarii produselor. Informatiile inregistrate sunt destinate utilizarii de
        catre echipa URBAN GEAR.</p>
    <p style="text-align: justify;">Conform Legii nr. 677/2001, beneficiati de dreptul de acces, de interventie asupra
        datelor, dreptul de a nu fi supus unei decizii individuale si dreptul de a va adresa justitiei. De asemenea,
        aveti dreptul sa va opuneti prelucrarii datelor personale si sa solicitati stergerea datelor din baza noastra de
        date. Pentru exercitarea acestor drepturi, va puteti adresa catre SC URBAN SHOES SRL cu o cerere scrisa, datata
        si semnata. SC URBAN SHOES SRL se obliga sa nu faca publice sau sa nu vanda bazele de date continand informatii
        referitoare la datele personale ale clientilor sai. In cazul in care se va pune problema utilizarii datelor
        dumneavoastra in scopul realizarii unor campanii, vi se va cere acordul explicit.</p>
    <p style="text-align: justify;">URBAN GEAR nu trimite mesaje nesolicitate clientilor sai. Orice mesaj periodic
        trimis contine datele noastre de identificare, precum si o procedura valida de renuntare la subscriere.</p>
<!--    <p style="text-align: justify;"><strong>Politica de confidentialitate</strong></p>-->
<!--    <p style="text-align: justify;">Va invitam sa accesati, de asemenea, pagina <span-->
<!--            style="text-decoration: underline; color: #0000ff;"><a-->
<!--            href="https://www.officedirect.ro/politica-de-confidentialitate"><strong>Politica de confidentialitate</strong></a></span>-->
<!--        care se aplica, vizitei dumneavoastra pe pagina noastra web.</p>-->
    <p style="text-align: justify;"><strong>Garantia produselor</strong></p>
    <p style="text-align: justify;">Produsele comercializate de URBAN GEAR nu sunt contrafacute.</p>
    <p style="text-align: justify;">URBAN GEAR garanteaza integritatea produselor comandate de pe site pe timpul
        transportului, pana in momentul livrarii.</p>
    <p style="text-align: justify;">Produsele cu durata de utilizare normala sunt insotite de certificat de
        garantie comerciala valabila pentru perioada specificata pe site pentru fiecare produs, acolo unde aceasta se
        aplica. Pretul si riscul transportului intra in obligatia cumparatorului.</p>
    <p style="text-align: justify;">Toate produsele comercializate pe site-ul www.urbangear.ro beneficiaza de
        garantia legala de conformitate, care este de 12 luni in cazul produselor de folosinta indelungata.</p>
    <p style="text-align: justify;"><strong>Obligatiile de inregistrare ale utilizatorului</strong><br></p>
    <p>In vederea utilizarii serviciului, sunteti de acord sa furnizati informatii adevarate, corecte, actuale si
        complete despre dumneavoastra.<strong></strong></p>
    <p style="text-align: justify;"><strong>Plata si livrarea produselor</strong></p>
    <p style="text-align: justify;">Acest magazin online este destinat exclusiv livrarii de produse catre clienti
        persoane juridice, persoane fizice, persoane fizice autorizate, intreprinderi individuale sau intreprinderi
        familiale, numai la adrese de pe teritoriul Romaniei. In momentul livrarii, o persoana cu varsta de minim 18
        ani, reprezentand persoana fizica sau juridica, va semna pentru toate produsele expediate.</p>
    <p style="text-align: justify;">Orice comanda va fi livrata in limita stocului disponibil, cu conditia ca aceasta sa
        fi fost confirmata de catre URBAN GEAR. Termenul de livrare a produselor - in aproximativ 24 ore din momentul
        receptionarii comenzii, prin curier, in zilele lucratoare (in Bucuresti) sau in 24-48 ore, prin reteaua de
        distributie Nemo Express sau Fan Courier (in celelalte localitati din tara). <span>Stabilirea curierului cu care se expediaza fiecare comanda se face de catre URBAN SHOES SRL.&nbsp;</span>In
        ziua de duminica nu se fac livrari. In anumite cazuri, in functie de disponibilitatea produselor, timpul de
        livrare se poate prelungi cu acordul clientului.</p>
    <p>Pentru comenzile ce depasesc <strong>100 Lei,</strong> transportul este <strong>GRATUIT</strong> in Bucuresti*
    </p>
    <p>Se face prin curieri proprii cel tarziu a doua zi lucratoare, gratuit la sediul dumneavoastra pentru comenzi mai
        mari de 100 Lei, iar in cazul in care valoarea comenzii este mai mica de 100 Lei, se va percepe o taxa de
        expediere de 15 Lei.<br></p>
    <p>Pentru comenzile ce depasesc <strong>200 Lei,</strong> transportul este <strong>GRATUIT</strong> in tara</p>
    <p style="text-align: justify;">Livrarea se face prin reteaua de distributie Nemo Express
        <span>sau Fan Courier</span>, in 24-48h. Stabilirea curierului cu care se expediaza fiecare comanda se face de
        catre URBAN SHOES SRL.</p>
    <p style="text-align: justify;"><span>Pentru comenzi mai mici de 200 Lei, se percepe o taxa de 15 Lei.</span></p>
    <p style="text-align: justify;">Daca preferati o alta firma de curierat, va rugam sa ne comunicati atunci cand
        lansati comanda! Produsele va vor fi livrate cu conditia ca acestea sa fie achitate in avans (virament bancar/
        card), costul transportului fiind in sarcina dumneavoastra.</p>
    <p style="text-align: justify;">Plata produselor comandate prin URBAN GEAR se poate face astfel: in numerar la
        livrare (aceasta metoda implica un cost suplimentar de 5 lei), prin ordin de plata/transfer bancar in avans sau
        plata cu cardul la sediu sau online.</p>
    <p style="text-align: justify;">Plata in numerar* se face la livrare, in lei, la valoarea din momentul confirmarii
        comenzii, catre comisionarul care efectueaza livrarea.</p>
    <p style="text-align: justify;">*&nbsp;<strong>Exceptie</strong><span>: <span
            style="font-size: small;">p</span></span><span style="font-size: small;">entru produse cu greutate individuala mai mare de 40 kg, este necesara  plata in avans prin OP/virament bancar a minim 20% din valoarea acestora.</span>
    </p>
    <p style="text-align: justify;">Plata prin ordin de plata se face in baza facturii proforme, emisa la finalizarea
        unei comenzi. Produsele se vor expedia numai dupa ce se face dovada platii catre URBAN GEAR.</p>
    <p style="text-align: justify;">Daca optati pentru plata online cu cardul bancar, procesarea datelor de pe cardul
        dumneavoastra se face&nbsp;prin intermediul&nbsp;<a href="https://www.mobilpay.ro/public/" target="_blank">NETOPIA
            mobilPay</a> , iar URBAN GEAR nu solicita si nu stocheaza nici un fel de detalii referitoare la cardul pe
        care il detineti.</p>
    <p style="text-align: justify;"><strong>Returnarea produselor achizitionate la distanta</strong></p>
    <p style="text-align: justify;">Conform O.U.G. 34/2014, consumatorul beneficiaza de o perioada de 14 zile
        calendaristice pentru a se retrage dintr-un contract la distanta sau dintr-un contract in afara spatiilor
        comerciale, fara a fi nevoit sa justifice decizia de retragere.</p>
<!--    <p>Pentru informatii complete privind returnarea unui produs, va rugam sa consultati sectiunea <a-->
<!--            href="https://www.officedirect.ro/politica-de-retur">Politica de retur</a><em>.</em></p>-->
<!--    <p style="text-align: justify;"><strong>Informatii privind DEEE</strong></p>-->
<!--    <p style="text-align: justify;">URBAN SHOES SRL este autorizata sa introduca pe piata echipamente sportive-->
<!--        electronice – vezi <span style="text-decoration: underline;"><a-->
<!--                href="https://www.officedirect.ro/Nr_Inregistrare_EEE.pdf" target="_blank">aici</a>&nbsp;</span>numarul-->
<!--        de inregistrare.</p>-->
<!--    <p style="text-align: justify;">Avand in vedere prevederile OUG 195/2005 – referitoare la protectia mediului si-->
<!--        O.U.G. 5/2015 privind deseurile de echipamente electrice si electronice (DEEE), se impune scoaterea din uz-->
<!--        corespunzatoare a echipamentelor electrice si electronice. Scopul este acela de a preveni potentialele efecte-->
<!--        nocive asupra mediului si sanatatii umane ca urmare a prezentei substantelor periculoase.</p>-->
<!--    <p style="text-align: justify;">Simbolul <img src="simbol-deee.jpg" alt="Office Direct DEEE" width="40" height="34">care-->
<!--        insoteste produsul indica faptul ca aparatele electrice si electronice vechi nu trebuie aruncate impreuna cu-->
<!--        deseurile municipale nesortate. Dupa ce aparatele si echipamentele au ajuns la sfarsitul duratei lor de-->
<!--        functionare, ele trebuie colectate in centre speciale puse la dispozitie de catre o societate autorizata in-->
<!--        colectarea deseurilor. Vezi lista punctelor de colectare <span style="text-decoration: underline;"><a-->
<!--                title="Lista punctelor de colectare DEEE" href="https://www.officedirect.ro/Puncte_de_colectareDEEE.PDF"-->
<!--                target="_blank">aici</a></span>. De asemenea, URBAN SHOES SRL aplica politica de colectare a DEEE in-->
<!--        sistem de preluare a echipamentelor unul la unul, conform legislatiei in vigoare, daca echipamentul predat este-->
<!--        echivalent si a indeplinit aceleasi functii ca si echipamentul nou furnizat; clientii pot preda DEEE echivalent-->
<!--        la sediul URBAN SHOES SRL.</p>-->
    <p style="text-align: justify;"><strong>Conciliere</strong></p>
    <p style="text-align: justify;">In cazul in care aveti o nemultumire in legatura cu produsele sau serviciile oferite
        de URBAN GEAR, va rugam sa ne adresati un e-mail pe adresa: <span style="text-decoration: underline;"><a
                href="contact@urbangear.ro">contact@urbangear.ro</a></span>. Orice conflict
        aparut intre clienti si companie se incearca a fi rezolvat pe cale amiabila, prin intelegere intre cele doua
        parti. &nbsp;In cazul in care conflictul nu s-a solutionat pe cale amiabila, competenta revine instantelor de
        judecata romane, conform legislatiei in vigoare.</p>
    <p style="text-align: justify;"><strong>Alti Termeni</strong></p>
    <p style="text-align: justify;">Acesti termeni si conditii reprezinta intregul acord dintre dumneavoastra si URBAN
        GEAR pentru utilizarea acestui site.</p>
    <p style="text-align: justify;">URBAN GEAR verifica periodic exactitatea informatiilor de pe site, dar nu ofera
        nicio garantie, expresa sau implicita, statutara sau de alta natura, privind continutul si disponibilitatea
        site-ului.</p>
    <p style="text-align: justify;">In cazul unei erori umane prin care pretul unui produs a fost introdus gresit in
        magazinul nostru online, nu suntem obligati sa furnizam respectivul produs la pretul gresit si va vom comunica
        acest lucru inainte de a livra comanda. In aceasta situatie, va vom transmite noul pret al produsului, iar
        dumneavoastra veti decide daca doriti sau nu sa achizitionati produsul la pretul corect.</p>
    <p style="text-align: justify;">Fotografiile produselor afisate pe site au caracter informativ si acestea pot
        contine accesorii neincluse in pachete, iar pretul sau unele specificatii pot fi modificate de catre producator
        fara preaviz sau pot exista erori de operare.</p>
    <style>
                    .modal.fade.bs-example-modal-lg { z-index: 9999999 !important;}
.dropdown-menu { z-index: 99999991 !important; }
.prod-in-cos { font-size: 1.6em;    display: block;    padding-top: 10px; padding-left: 20px; }                    #mmosolution .modal-footer .mmosolution-button-full-cart-show{
                            margin-bottom: 10px !important;
                    }
                                        #dialog-popup-full-cart .btn-decrease {border-radius: 0 0 0 4px ; padding: 0px;  width: 50%;}
                    #dialog-popup-full-cart .btn-increase {border-radius: 0 0  4px 0 ;   padding: 0px;  width: 50%;}
                    #dialog-popup-full-cart .mmos_cart_action button{ padding: 0px !important;  width: 50% !important; margin:0 !important; float: left;   font-weight: bold}
                    #dialog-popup-full-cart .mmos_cart_action {}
                    #dialog-popup-full-cart .modal-footer {border-top: 0; margin-top: 0px;}
                    #dialog-popup-full-cart .modal-body{ padding: 10px;}
                    #dialog-popup-full-cart .mmos_quantity {
                        background: #F8F8F8;
                        min-width: 100%;
                        width: 100%;
                        border: 1px solid #eea236;
                        border-bottom: 0;
                        padding: 3px;
                        margin: -10px -10px 0 0;
                        margin-left: 0px;
                        margin-right: 0px;
                    }
					#dialog-popup-full-cart .btn-remove{padding: 5.5px 8px;}
					#popup-full-cart-heading i{font-size: 18px; }
				#mmosolution h4 {font-family: inherit }



    </style>
    <div id="mmosolution">
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dialog-popup-full-cart"
             aria-labelledby="LargeModalLabel" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <div class="modal-dialog modal-lg" style="width:640px; max-width: 95%; orverflow: auto;">
                <div class="modal-content" style="background-color: #ffffff; ">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="popup-full-cart-heading"></h4>
                    </div>
                    <div class="modal-body" style="padding-top: 0px;padding-bottom: 0;">
                        <div class="mmos_name" style="word-wrap: break-word;">
                            <span class="prod-in-cos">Ai adaugat produse in cos.&nbsp;</span>
                            <hr>
                        </div>
                        <div class="">
                            <div class="col-md-12" id="popup-full-cart-form"></div>
                        </div>
                    </div>
                    <div class="modal-footer text-right" style="padding-bottom: 0px;">
                        <a class="btn btn-default mmosolution-button-full-cart-show" data-dismiss="modal">Continua
                            cumparaturile</a>
                        <a class="btn btn-default mmosolution-button-full-cart-show"
                           href="./index.php?route=checkout/cart"><i class="fa fa-share"></i> Vezi cos</a>
                        <a class="btn btn-success mmosolution-button-full-cart-show"
                           href="./index.php?route=checkout/checkout"><i class="fa fa-share"></i> Finalizare comanda</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

            $(document).ajaxComplete(function( event, xhr, settings ) {
				 var res_action = settings.url.split("checkout/cart/add");
                if(res_action.length > 1 ){
                    var json = $.parseJSON(xhr.responseText);
                    if(!json['error'] ){

                            $('html, body').stop();
                            $('.alert-success').remove();
                            $.ajax({
                                type: 'get',
                                url: 'index.php?route=module/mmos_popup_full_cart',
                                dataType: 'json',
                                success: function(json) {
                                    $('#popup-full-cart-heading').html(json['heading']);
                                    $('#popup-full-cart-form').html(json['output']);
                                    $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');
                                    $('#dialog-popup-full-cart').modal('show');
                                }
                            });

                    }
                }
            });


    </script>

</div>
</body>
</html>
{% endblock %}