{% extends 'base.html' %}


{% block content %}
<head>
    <style>
    .center {
      margin-left: auto;
      margin-right: auto;
    }

    #top{
    height:100px;
    }

    .center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}




    </style>
</head>

<body>
<br><br><br><br><br><br>
<div>
    <div class="tabel" style="display: flex; justify-content: center;">
    {% if 'history' in request.path %}
        <table id='disp' style=" text-align:center ">
            <tr>
                <td class="spaceUnder" style="padding-bottom: 20px;"><h2>Comanda dvs a fost inregistrata cu succes.</h2></td>
            </tr>
            <tr>
                <td><h4 style="padding-bottom: 30px">Suma totala de plata pentru aceasta comanda: {{ total }} lei</h4></td>
            </tr>
        </table>
    </div>
    {% endif %}
</div>


    <div class="center-btn">
        <table width="800px" border="3" class="center">
            {% for item in cart %}
            <tr>
                <td>
                    <img src="{{ item.produse.img.url }}" height=150px width=170px>
                    {{ item.produse.brand }} - {{ item.produse.pret }} RON
                    {% if 'history' not in request.path %}
                    <button type="submit" class="btn btn-outline-dark btn-sm"
                            style="width:120px; text-align:center; float:right; margin-top: 60px; margin-right: 5px">
                        <a href="{% url 'carts:remove' item.id %}">Sterge din cos</a>
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br><br>
    <div class="button">
        {% if 'history' not in request.path %}
            {% if cart %}
            <div class="center-btn">
                <h4 style="float:left">Total plata: {{ pret_total }} lei &nbsp;&nbsp;</h4>
                <button type="button" class="btn btn-outline-dark btn-lg"
                        style="width:200px; text-align:center;"
                        onclick="window.location.href = '{% url 'carts:order' %}'">Confirma comanda
                </button>
            </div>
            {% else %}
            <div class="center-btn">
                <a title="Te rugam sa adaugi produse in cos pentru a finaliza comanda"
                   class="btn btn-outline-dark btn-lg disabled" style="width:200px; text-align:center">Confirma comanda</a>
            </div>
            {% endif %}
        {% else %}
            <div class="center-btn" style="float:left; margin-left:90px">
                <button type="button" class="btn btn-outline-dark" style="width:220px; text-align:center"
                    onclick="window.location.href = '{% url 'Produs:home' %}'">Inapoi la prima pagina
                </button>
            </div>
            <div class="center-btn" style="float:right; margin-right:90px">
                <button type="button" class="btn btn-outline-dark " style="width:220px; text-align:center"
                    onclick="window.location.href = '{% url 'carts:IstoricComenzi' %}'">Vizualizare istoric comenzi
                </button>
            </div>
        {% endif %}
    </div>
</body>
{% endblock %}