{% extends 'base.html' %}


{% block content %}
<head>
    <style>

    #top{
    height:100px;
    }

    </style>
</head>
<body>
{% if request.user.is_authenticated %}
<h1 style="text-align:center; margin-top: 100px">Istoric Comenzi</h1>
<ul>
{% for item in object_list %}
    <li>
       <button type="button" class="btn btn-outline-dark btn-lg"
               style="width: 50px; text-align: center; margin-bottom: 10px"
               onclick="location.href='/history/{{ item.id }}'">{{ item.nr_comanda }}
       </button>  &nbsp; {{ item.data_finalizare_comanda }}
    </li>
{% empty %}
    <li style="margin-top:100px; margin-left:30px">Nu aveti comenzi inregistrate.</li>
{% endfor %}
</ul>
{% endif %}
</body>

{% endblock %}