{% extends 'base.html' %}


{% block content %}
<head>
    <style>

        #top{
    height:100px;
    }

        #disp {
	margin-top: 150px;
	padding-top: 150px;
	margin-bottom: 100px;
	padding-bottom: 100px;
	width: 100%;
	}
    </style>
</head>
<body>
<pre></pre><br>
<div class="tabel" style="display: flex; justify-content: center;">
    <table id='disp'style=" text-align:center ">
        <tr>
            <td class="spaceUnder" style="padding-bottom: 20px;"><h2>Comanda dvs a fost inregistrata cu succes.</h2></td>
            <br>
        </tr>
        <tr>
            <td><h4>Suma totala de plata pentru aceasta comanda este de {{ order.total }} lei</h4></td>
            <br>
        </tr>
        <br>
    </table>
</div>
</body>

{% endblock %}