/* Montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('..Regform/fonts/montserrat/Montserrat-Light.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('..Regform/fonts/montserrat/Montserrat-Regular.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('..Regform/fonts/montserrat/Montserrat-Italic.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('..Regform/fonts/montserrat/Montserrat-Medium.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('..Regform/fonts/montserrat/Montserrat-SemiBold.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('..Regform/fonts/montserrat/Montserrat-Bold.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('..Regform/fonts/montserrat/Montserrat-BoldItalic.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url('..Regform/fonts/montserrat/montserrat-v12-latin-900.ttf'), /* IE9 Compat Modes */
        url('..Regform/fonts/montserrat/montserrat-v12-latin-900.eot') format('embedded-opentype'), /* IE6-IE8 */
        url('..Regform/fonts/montserrat/montserrat-v12-latin-900.svg') format('woff2'), /* Super Modern Browsers */
        url('..Regform/fonts/montserrat/montserrat-v12-latin-900.woff') format('woff'), /* Modern Browsers */
        url('..Regform/fonts/montserrat/montserrat-v12-latin-900.woff2') format('truetype'), /* Safari, Android, iOS */
}