{% extends 'base.html' %}
{% block content %}

<head>
    <style>

    #top{
    height:1350px;
    }

     #map {
    width: 100%;
    height: 345px;
    background-color: grey;
    }

    .col-md-3 {width: 25%; position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float:left}
    .col-md-9 {width: 75%; position: relative; min-height: 1px; padding-left: 60px; float:left; color:white}

    .form-contact {width: 25%; position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float:left}
    #form-mesaj {width: 75%; position: relative; min-height: 1px; padding-left: 60px; float:left; color:white}
    #coment {width: 75%; position: relative; min-height: 1px; height: 260px; padding-left: 15px;
    float:left; overflow: hidden; left: 45px; width: 690px; margin-top: 0px; margin-bottom: 0px;}
    .errorlist {color:white}


    </style>
</head>

<body>
<div class="description" style="text-align:center; color:white"><br><br>
    <p>Dragi clienti, incercam sa raspundem cat mai prompt tuturor solicitarilor.</p>

    <p>In cazul in care aveti orice fel de nelamurire va rugam sa consultati mai intai pagina&nbsp;<a
            href="{% url 'contact:suport' %}">https://www.urbangear.ro/suport</a></p><br>
    <hr style="height:2px;border-width:0;color:gray;background-color:white">
    <br><br>
</div>

<div class="col-md-3" style="color:white">
    <h3 class="pinktitle">CONTACT</h3>
    <p><strong>SC URBAN SHOES SRL</strong><br>
    <p>CUI RO12345678<br>
        J40/1234/2020</p>
    <p><strong>Adresa contact:</strong><br>
    <p>Str. Martisor Nr. 22 - Sector 4<br>
        Cod Poștal 041242 – București<br>
        Tel.: 031 225 25 25<br>
        Fax.: 031 225 25 25</p>
    <p><a href="{% url 'Produs:home' %}">www.urbangear.ro</a>
        contact@urbangear.ro</p>
    <!--    <h3 class="pinktitle">Call Center</h3>-->
    <!--    <p><strong>Program call center:</strong><br>-->
    <!--    <p>Luni - Vineri: 08:00 – 21:00<br>-->
    <!--       Sambata: 08:00 – 17:00-->
    <!--       Duminica: Indisponibil</p>-->
</div>

<div class="col-md-9">
    <div id="map"></div>
    <br><br><br><br>
</div>

<div class="contact">
    <h4 style="text-align:center; color:white">Vrei sa faci o sesizare?</h4><br>
    <div class="control" style="backgound-color:#f000">
        <form method="POST">
            {% csrf_token %}
            <div class="form-contact" style="color:white">
                <p>{{ form.first_name }}<br></p>
                <p>{{ form.last_name }}<br></p>
                <p>{{ form.telefon }}<br></p>
                <p>{{ form.email }}<br></p>
                <button type="submit" class="btn btn-info" style="margin-left: 50px">Trimite mesaj</button>
            </div>
            <p id="form-mesaj">{{ form.titlu }}<br></p>
            <p id="coment">{{ form.comentariu }}<br><br></p>
            {{ form.errors }}
        </form>
    </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="col-md-10">
        <p class="contactext" style="color:white">Prelucrarea Datelor Personale*:<br><br>
            <span class="wpcf7-form-control-wrap date-personale"><span
                    class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required date-personale"><span
                    class="wpcf7-list-item first last"><label><input type="checkbox"
                                                                     name="date-personale[]"
                                                                     value="Sunt de acord cu prelucrarea datelor cu caracter personal, în conformitate cu prevederile Legii 677/2001"><span
                    class="wpcf7-list-item-label">Sunt de acord cu prelucrarea datelor cu caracter personal, în conformitate cu prevederile Legii 677/2001</span></label></span></span></span><br>
            <a href="{% url 'contact:date' %}" target="_blank"
               style="font-size: 80%; text-decoration: underline; color:inherit;">Citiţi
                prelucrarea datelor cu caracter personal</a></p>
        <p></p>
</div>


<script>

function initMap() {
var home = {lat: 44.396814, lng: 26.118131};
var map = new google.maps.Map(document.getElementById('map'), {zoom: 17, center: home});
var marker = new google.maps.Marker({position: home, map: map});
}


</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4OFdmtrM6UB3KKaGMJNJ1v3gSxGI5QRo&callback=initMap">
</script>

</body>
{% endblock %}