<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    #top {
    height:100px;
    background:#000;
    }
    </style>
</head>
<body>
<div id="content" class="content-caracter" style="width:100%"><br><br>
    <h1 style="text-align:center">Prelucrarea datelor cu caracter personal</h1><br>
    <p style="text-align: justify;"><strong>Termeni generali</strong></p>
    <p style="text-align: justify;">Prelucrarea si stocarea datelor cu caracter personal este facuta in conditii de siguranta
        si in scopuri legitime legate in principal de desfasurarea activitatii de prestare a serviciilor comerciale,
        si in subsidiar, pentru reclama, maketing, publicitate, precum si servicii de statistica si informare.</p>
    <p style="text-align: justify;">Prin completarea formularului de contact va dati acordul in mod expres si neechivoc ca datele
        dumneavoastra cu caracter personal sa fie stocate si prelucrate de catre Urban Shoes SRL
        care va pastra confidentialitatea acestor informatii, cu exceptia informatiilor solicitate
        de autoritatile legale competente.</p>
    <p style="text-align: justify;"><strong>Scopul prelucrarii datelor cu caracter personal</strong></p>
    <p style="text-align: justify;">SC Urban Shoes SRL va prelucra datele personale cu urmatoarele scopuri:
        (i) comenzi si livrari produse afisate pe site-ul www.urbangear.ro;
        (ii) statistica; (iii) recuperare date de inregistrare (recuperare parola),
        si (iv) marketing si publicitate.</p>
    <p style="text-align: justify;"><strong>Persoanele imputernicite/Destinatari/Operator asociat:</strong></p>
        <p style="text-align: justify;">Datele dumneavoastra cu caracter personal pot fi prelucrate de catre urmatoarele persoane,
        cu respectarea intocmai a legislatiei privind protectia datelor cu caracter personal:</p>
    <p style="text-align: justify;">Datele personale prelucrate pot fi dezvaluite urmatorilor destinatari: (i) persoanei vizate
        (ii) reprezentantilor legali ai persoanei vizate (iii)  operatorilor de date
        (iv) partenerilor contractuali ai Urban Shoes SRL –
        Furnizorii de prestari servicii cum ar fi, dar fara a se limita la furnizori de servicii si sisteme IT,
        partenerii contractuali precum si toate societatile din aceste categorii de destinatari de la care
        Societatea va contracta servicii si produse si care au luat masuri adecvate de protectie,
        conform prevederilor legale, pentru a asigura ca acestia isi respecta obligatiile
        privind protectia datelor cu caracter personal;
        (v) alte companii din acelasi grup cu Urban Shoes SRL
        (vi) autoritatilor publice / autoritatea fiscala pe baza competentelor acestora prevazute de legea aplicabila,
        precum si oricare alte autoritati publice care pot solicita astfel de date in temeiul unor dispozitii legale</p>
    <p style="text-align: justify;"><strong>Transferul datelor cu caracter personal</strong></p>
    <p style="text-align: justify;">Datele personale pot fi dezvaluite unor terte parti, procesatoare de date personale,
        care se afla in strainatate, respectiv in oricare dintre tarile aflate in cadrul Uniunii Europene.
        De asemenea, anumite date personale pot fi dezvaluite in scopul raportarii actionarilor/conducerii
        Urban Shoes SRL.</p>
    <p style="text-align: justify;">In cazul in care datele dumneavoastra se vor transfera catre alte societati din alte tari,
        in vederea initierii, incheierii si dezvoltarii unor contracte si/sau proiecte cu o asemenea entitate,
        veti fi informat si se vor aplica garantiile prevazute de art. 44-49 din Regulamentul General privind
        protectia datelor.</p>
    <p style="text-align: justify;"><strong>Perioada de stocare a datelor cu caracter personal</strong></p>
    <p style="text-align: justify;">SC Urban Shoes SRL asigura confidentialitatea datelor cu caracter personal prelucrate in
        conformitate cu acordul exprimat de persoana fizica vizata si conform prevederilor legale.
        Accesul la informatiile tratate drept confidentiale va fi limitat la acele persoane,
        care prin natura activitatii desfasurate, este necesar sa ia cunostinta de aceste informatii in
        scopul ducerii la indeplinire a scopului, raporturilor juridice nascute in relatie cu
        Urban Shoes SRL. Aceste persoane sunt tinute sa respecte caracterul confidential al acestor informatii,
        asumandu-si la randul lor obligatia de a asigura si pastra confidentialitatea acestor date si
        informatii si de a le prelucra in conformitate cu cerintele legale.
        SC Urban Shoes SRL va respecta dispozitiile legale aplicabile domeniului de activitate,
        inclusiv ale Legii 95/2006 privind reforma in domeniul sanatatii in ceea ce priveste perioada de
        stocare a datelor cu caracter personal.</p>
    <p style="text-align: justify;"><strong>Securitatea datelor personale</strong></p>
    <p style="text-align: justify;">Conform Legii nr. 677/2001 pentru protectia persoanelor cu privire la prelucrarea
        datelor cu caracter personal si libera circulatie a acestor date, modificata si completata, si ale Legii nr.
        506/2004 privind prelucrarea datelor cu caracter personal si protectia vietii private in sectorul comunicatiilor
        electronice, informatiile furnizate de dumneavoastra vor fi folosite de URBAN GEAR exclusiv in scopul declarat
        al site-ului. Astfel, datele din formularul de comanda vor fi folosite numai pentru a va trimite confirmarea
        comenzilor, promotii, buletinele informative periodice (doar in masura in care sunteti de acord sa primiti acest
        gen de informatii) facturare si pentru livrarea comenzilor etc.</p>
    <p style="text-align: justify;">Nu sunteti obligat sa furnizati datele personale, insa refuzul face imposibila
        prelucrarea comenzii si derularea livrarii produselor. Informatiile inregistrate sunt destinate utilizarii de
        catre echipa URBAN GEAR.</p>
    <p style="text-align: justify;">Conform Legii nr. 677/2001, beneficiati de dreptul de acces, de interventie asupra
        datelor, dreptul de a nu fi supus unei decizii individuale si dreptul de a va adresa justitiei. De asemenea,
        aveti dreptul sa va opuneti prelucrarii datelor personale si sa solicitati stergerea datelor din baza noastra de
        date. Pentru exercitarea acestor drepturi, va puteti adresa catre SC URBAN SHOES SRL cu o cerere scrisa, datata
        si semnata. SC URBAN SHOES SRL se obliga sa nu faca publice sau sa nu vanda bazele de date continand informatii
        referitoare la datele personale ale clientilor sai. In cazul in care se va pune problema utilizarii datelor
        dumneavoastra in scopul realizarii unor campanii, vi se va cere acordul explicit.</p>
    <p style="text-align: justify;">URBAN GEAR nu trimite mesaje nesolicitate clientilor sai. Orice mesaj periodic
        trimis contine datele noastre de identificare, precum si o procedura valida de renuntare la subscriere.</p>
    <p style="text-align: justify;">Datele legate de plati/facturare vor fi stocate pe o perioada de 10 ani,
        conform Legii nr. 82/1991 privind contabilitatea;
    <p style="text-align: justify;">Datele inregistrarii apelurilor telefonice se vor stoca pe o perioada de 6 luni,
        respectiv in conformitate cu temeiurile prevazute de legislatia in vigoare,
        iar documentele incarcate pe site vor fi stocate pentru un termen de 30 de zile,
        ulterior acestui termen documentele vor fi sterse automat;

    <style>
                    .modal.fade.bs-example-modal-lg { z-index: 9999999 !important;}
.dropdown-menu { z-index: 99999991 !important; }
.prod-in-cos { font-size: 1.6em;    display: block;    padding-top: 10px; padding-left: 20px; }                    #mmosolution .modal-footer .mmosolution-button-full-cart-show{
                            margin-bottom: 10px !important;
                    }
                                        #dialog-popup-full-cart .btn-decrease {border-radius: 0 0 0 4px ; padding: 0px;  width: 50%;}
                    #dialog-popup-full-cart .btn-increase {border-radius: 0 0  4px 0 ;   padding: 0px;  width: 50%;}
                    #dialog-popup-full-cart .mmos_cart_action button{ padding: 0px !important;  width: 50% !important; margin:0 !important; float: left;   font-weight: bold}
                    #dialog-popup-full-cart .mmos_cart_action {}
                    #dialog-popup-full-cart .modal-footer {border-top: 0; margin-top: 0px;}
                    #dialog-popup-full-cart .modal-body{ padding: 10px;}
                    #dialog-popup-full-cart .mmos_quantity {
                        background: #F8F8F8;
                        min-width: 100%;
                        width: 100%;
                        border: 1px solid #eea236;
                        border-bottom: 0;
                        padding: 3px;
                        margin: -10px -10px 0 0;
                        margin-left: 0px;
                        margin-right: 0px;
                    }
					#dialog-popup-full-cart .btn-remove{padding: 5.5px 8px;}
					#popup-full-cart-heading i{font-size: 18px; }
				#mmosolution h4 {font-family: inherit }



    </style>
    <div id="mmosolution">
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dialog-popup-full-cart"
             aria-labelledby="LargeModalLabel" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <div class="modal-dialog modal-lg" style="width:640px; max-width: 95%; orverflow: auto;">
                <div class="modal-content" style="background-color: #ffffff; ">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="popup-full-cart-heading"></h4>
                    </div>
                    <div class="modal-body" style="padding-top: 0px;padding-bottom: 0;">
                        <div class="mmos_name" style="word-wrap: break-word;">
                            <span class="prod-in-cos">Ai adaugat produse in cos.&nbsp;</span>
                            <hr>
                        </div>
                        <div class="">
                            <div class="col-md-12" id="popup-full-cart-form"></div>
                        </div>
                    </div>
                    <div class="modal-footer text-right" style="padding-bottom: 0px;">
                        <a class="btn btn-default mmosolution-button-full-cart-show" data-dismiss="modal">Continua
                            cumparaturile</a>
                        <a class="btn btn-default mmosolution-button-full-cart-show"
                           href="./index.php?route=checkout/cart"><i class="fa fa-share"></i> Vezi cos</a>
                        <a class="btn btn-success mmosolution-button-full-cart-show"
                           href="./index.php?route=checkout/checkout"><i class="fa fa-share"></i> Finalizare comanda</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

            $(document).ajaxComplete(function( event, xhr, settings ) {
				 var res_action = settings.url.split("checkout/cart/add");
                if(res_action.length > 1 ){
                    var json = $.parseJSON(xhr.responseText);
                    if(!json['error'] ){

                            $('html, body').stop();
                            $('.alert-success').remove();
                            $.ajax({
                                type: 'get',
                                url: 'index.php?route=module/mmos_popup_full_cart',
                                dataType: 'json',
                                success: function(json) {
                                    $('#popup-full-cart-heading').html(json['heading']);
                                    $('#popup-full-cart-form').html(json['output']);
                                    $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');
                                    $('#dialog-popup-full-cart').modal('show');
                                }
                            });

                    }
                }
            });


    </script>

</div>
</body>
</html>
{% endblock %}