{% extends 'base.html' %}
{% block content %}
<head>
    <style>
            #top{
    height:100px;
    }

    .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
    </style>
</head>
<body>
<div class="page page-fullwidth">
    <br><br><br>
    <div class="heading-wrapper">
        <div class="title" style="text-align:center"><h1><span>Mesajul dvs. a fost trimis cu succes!</span></h1></div>
    </div><br><br>
    <div class="center">
        <form action="{% url 'Produs:home' %}">
            <button type="submit" class="btn btn-outline-dark btn-lg" >
                <span class="glyphicon glyphicon-search"></span><strong> Inapoi la prima pagina </strong>
            </button>
        </form>
    </div>
</div>
<br><br><br><br><br><br><br>
</body>
{% endblock %}