{% extends 'base.html' %}
{% block content %}
<head>
    <style>
            #top{
    height:100px;
    }
    </style>
</head>
<body>
<div class="page page-fullwidth">
    <br><br><br>
    <div class="heading-wrapper">
        <div class="title" style="text-align:center"><h1><span>Intrebari frecvente</span></h1></div>
    </div>

    <div class="text-wrapper">
        <br><br>
<!--        <p style="margin-left:18.0pt;">INTREBARI FRECVENTE<br>-->
<!--            &nbsp;</p>-->

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Echipa Urban Gear lucreaza in prezent la procesarea numarului foarte mare de comenzi inregistrate. Te
            asiguram ca depunem toate eforturile pentru rezolvarea situatiilor intampinate, intr-un timp cat mai scurt
            posibil.<br>
            Pentru a-ti veni in ajutor, am pregatit pentru tine o serie de intrebari intalnite frecvent si raspunsuri la
            acestea.<br>
            &nbsp;</p>

        <ol>
            <li><strong>Care este statusul comenzii mele?</strong></li>
        </ol>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;De obicei, termenul de procesare al unei comenzi este de 4-5&nbsp;zile lucratoare, la care se adauga si
            termenul de livrare. Tinand cont de situatia actuala generata de pandemia Covid-19 si a numarului foarte
            mare de comenzi, atat termenul de procesare, cat si cel de livrare se face in termen de minim 10 zile
            lucratoare.</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;In cazul in care ai primit cod-ul AWB in emailul de confirmare a comenzii, poti verifica statusul livrarii pe
            site-ul&nbsp;<a href="https://app.urgentcargus.ro/Private/Tracking.aspx"
                            target="_blank">www.urgentcargus.ro</a>. AWB-ul coletului devine activ atunci cand comanda
            este ridicata de catre curier de la depozitul/ magazinul nostru.</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Daca ai nevoie de mai multe detalii referitoare la statusul comenzii tale, te rugam sa ne scrii la adresa de
            email&nbsp;<a href="mailto:contact@urbangear.ro">contact@urbangear.ro</a>, folosind titlul <strong><em>“Status
                comanda”</em></strong><em>.</em></p>

        <p>&nbsp;</p>

        <ol>
            <li value="2"><strong>De ce comanda mea a fost anulata?</strong></li>
        </ol>

        <p>Faptul că produsele au fost rezervate de sistem nu este o garantie că produsele vor fi livrate, ci doar că
            acestea au prioritate si intra pe lista de verificare din ziua imediat urmatoare.</p>

        <p>Plasarea unei comenzi pe site-ul urbangear.ro nu garanteaza existenta tuturor produselor din urmatoarele
            motive:</p>

        <ul>
            <li>produsele afisate online nu mai exista în stocul fizic din magazine sau depozite (pierderi, erori stoc
                etc);
            </li>
            <li>produsele sunt defecte sau incomplete, lucru care se poate descoperi in timpul procesului de confirmare
                a lor.
            </li>
        </ul>

        <p style="margin-left:18.0pt;">&nbsp;</p>

        <ol>
            <li value="3"><strong>&nbsp;Odata ce am plasat o comanda, mai poate fi aceasta modificata, astfel incat sa
                adaug sau sa schimb produsele pentru care am optat? </strong></li>
        </ol>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Comanda deja plasata nu mai poate fi modificata (marime, culoare) si nu se mai pot adauga sau schimba
            produse.</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;In cazul in care comanda este gresita, te rugam sa ne contactezi in termen de maxim 12 ore de la
            inregistrarea&nbsp;acesteia, la adresa <a href="mailto:contact@urbangear.ro">contact@urbangear.ro</a>,
            folosind titlul <em>“<strong>Anulare comanda”.</strong></em></p>

        <p>&nbsp;</p>

        <ol>
            <li value="4"><strong>Am primit comanda incompleta. Ce trebuie sa fac?</strong></li>
        </ol>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Daca ai in comanda mai multe produse este posibil sa ti le trimitem din mai multe puncte de livrare din tara.
            Acest aspect nu presupune costuri suplimentare de transport, insa termenele de livrare pot fluctua in
            functie de distanta si de firma de curierat. In cazul in care factura cuprinde si produsele pe care nu le-ai
            primit in colet, te rugam sa ne contactezi la adresa de email&nbsp;<a href="mailto:contact@urbangear.ro">contact@urbangear.ro</a>,
            folosind titlul <strong><em>“Comanda incompleta”</em></strong><em>.</em></p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;De asemenea, este posibil ca unele dintre produsele alese la plasarea comenzii, sa nu mai fie disponibile. In
            aceasta situatie, daca ai facut plata online, noi iti vom restitui contravaloarea produselor in contul pe
            care l-ai folosit pentru efectuarea platii, in termen de 2-30 de zile, in functie de contractul cu banca
            emitenta a cardului tau.</p>

        <p>&nbsp;</p>

        <ol>
            <li value="5"><strong>Vreau sa fac un retur sau sa schimb unul sau mai multe produse comandate. Cum
                procedez?</strong></li>
        </ol>

        <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;Produsele pot fi returnate prin&nbsp;orice firma de&nbsp;curierat, la adresa </strong>
            Str. Martisor nr. 22, sector 4, Bucuresti<strong> A NU SE RETURNA PRIN POSTA!&nbsp;</strong></p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Pentru ridicarea coletului, poti alege ca solicitarea curierului sa vina din partea noastra, pentru a
            beneficia de costurile preferentiale pentru clientii Urban Gear; pentru aceasta, te rugam sa ne scrii la
            adresa&nbsp;de email <a href="mailto:contact@urbangear.ro">contact@urbangear.ro</a>, folosind titlul
            <strong><em>“Retur – solicitare curier”</em></strong><em>.</em><br>
            &nbsp;</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Pentru retur, poti alege restituirea contravalorii produselor returnate sau schimbarea acestora cu alte
            produse dorite (cu achitarea eventualelor diferente de pret de catre tine sau restituirea lor de catre noi).
            Contul bancar si numele titularului trebuie specificate pe formularul de retur, indiferent de optiunea de
            retur aleasa, pentru a evita o eventuala intarziere a procesarii returului. In cazul in care produsele
            dorite la schimb nu sunt disponibile, iti vom restitui contravaloarea lor. Termenul pentru restituirea
            banilor este de maxim 14 zile, din momentul in care produsele returnate ajung la noi si sunt acceptate, va
            rugam sa tineti cont si de cele 4 zile de carantina.</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Te rugam sa pui in colet factura si formularul de retur (care sunt pe aceeasi pagina), completat cu codurile
            produselor pe care le returnezi, codurile produselor dorite la schimb, marimile acestora (daca este cazul),
            contul IBAN si numele titularului de cont.</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Avem rugamintea ca produsele sa fie in ambalajul original (cutie) si, suplimentar, intr-o punga/ folie si sa
            sigilezi cu banda adeziva.</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Mentionam ca returul nu presupune primirea produselor solicitate la schimb in momentul in care curierul
            ajunge la tine pentru preluarea produselor pe care le returnezi. Produsele returnate trebuie sa ajunga mai
            intai la noi, unde vor sta 4 zile intr-o zona de carantina.<br>
            &nbsp;</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Important:&nbsp; Vom expedia produsele dorite la schimb doar dupa procesarea returului. Termenul maxim de
            procesare este de 14 zile de la receptionarea produselor si acceptarea lor, va rugam sa tineti cont de cele
            4 zile de carantina.</p>

        <p>Daca ai nevoie de alte informatii legate de statusul returului tau, ne poti contacta la <a
                href="mailto:contact@urbangear.ro">contact@urbangear.ro</a>,&nbsp;folosind titlul <strong><em>”Status
            retur”</em></strong>.</p>

        <p>&nbsp;</p>

        <ol>
            <li value="6"><strong>Pot alege plata la livrare?</strong></li>
        </ol>

        <p>Desigur, daca nu doresti sa efectuezi plata online, la plasarea comenzii poti selecta ca modalitate de plata
            – plata ramburs.</p>

        <p style="margin-left:18.0pt;">&nbsp;</p>

        <ol>
            <li value="7"><strong>Care este costul transportului?</strong></li>
        </ol>

        <p>Costul standard al transportului este de 18 lei oriunde in tara. Pentru comenzi mai mari de 199 de lei,
            transportul este gratuit.</p>

        <p style="margin-left:1.8pt;">&nbsp;</p>

        <ol>
            <li value="8"><strong>Pot schimba adresa de livrare a comenzii deja confirmate?</strong></li>
        </ol>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Adresa de livrare poate fi modificata de noi, DOAR in primele 12 de ore de la inregistrarea comenzii. Te
            rugam sa ne scrii noua adresa de livrare la adresa de email &nbsp;<a href="mailto:contact@urbangear.ro">contact@urbangear.ro</a>,
            folosind titlul <strong><em>“Modificare adresa”</em></strong><em>,</em><br>
            &nbsp;</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Mentionam ca firma de curierat va fi informata de modificarea adresei in momentul in care coletul este
            preluat de curier, iar AWB-ul va deveni activ.<br>
            &nbsp;</p>

        <ol>
            <li value="9"><strong>Nu am primit coletul, desi a fost depasit termenul de livrare. Cum pot afla
                informatii?</strong></li>
        </ol>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;In cazul in care comanda ta a fost procesata, iar coletul nu a ajuns la tine, depasindu-se termenul standard
            de livrare de minim 10 zile lucratoare, te rugam sa verifici statusul livrarii in baza numarului de AWB
            primit in emailul de confirmare a comenzii, accesand site-ul&nbsp;<a
                    href="https://app.urgentcargus.ro/Private/Tracking.aspx" target="_blank">www.urgentcargus.ro</a>.
        </p>

        <p>Daca AWB-ul nu este activ, te rugam sa ne contactezi la adresa&nbsp;<a href="mailto:contact@urbangear.ro">contact@urbangear.ro</a>,
            folosind titlul <strong>“Colet nelivrat”</strong>.<br>
            &nbsp;</p>

        <p style="margin-left:18.0pt;"><br>
            <strong>10.</strong> <strong>&nbsp;&nbsp;&nbsp;Ce beneficii imi aduce inregistrarea pe site si cum pot sa-mi
                activez contul de client?</strong></p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Inregistrarea unui cont pe site-ul nostru iti ofera posibilitatea de a primi informatii referitoare la
            statusul comenzii inregistrate.</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Pentru a activa contul, este nevoie sa iti verifici adresa de email furnizata la inregistrare si sa confirmi
            faptul ca este adresa ta. Asigura-te ca furnizezi o adresa la care ai acces in permanenta, pentru ca vei
            primi aici toate datele legate de comanda ta: pret total, numarul AWB, detalii legate de anulare de produse
            etc.</p>

        <p style="margin-left:18.0pt;">&nbsp;</p>

        <ol>
            <li value="11"><strong>&nbsp;Cum pot obtine un cod promotional? </strong></li>
        </ol>

        <p>Toti utilizatorii noi care isi fac un cont pe urbangear.ro vor primi un voucher in valoare de 30 de lei, pe
            care il pot folosi la prima comanda (daca aceasta este in valoare de minim 300 de lei).&nbsp; Acest voucher
            este valabil doar online, nu poate fi cumulat cu alte promotii si nici nu poate fi returnat in bani.</p>

        <p>&nbsp;</p>

        <p><strong>Important:</strong></p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Daca ai nevoie de informatii suplimentare despre comanda ta, te rugam sa ne contactezi la adresa de e-mail <a
                href="mailto:contact@urbangear.ro">contact@urbangear.ro</a>.</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;Dorim sa iti aducem la cunostinta ca este posibil ca raspunsul nostru sa soseasca cu intarziere. Acest lucru
            se datoreaza situatiei generate de pandemia Covid-19 si volumului foarte mare de comenzi si de mesaje
            primite in ultima perioada. Ne cerem scuze pentru eventualele neplaceri create si te asiguram ca echipa
            noastra depune toate eforturile pentru ca tu sa primesti produsele comandate, in siguranta si cat mai curand
            posibil.</p>
    </div>


</div>
</body>
{% endblock %}
