<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% static "images" as baseUrl %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>URBAN_SHOES</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--[if lte IE 6]>
    <style type="text/css" media="screen">.tabbed { height:420px; }</style><![endif]-->

</head>
<body>
<!-- Top -->
<div id="top">
    <div class="shell">
        <!-- Header -->
        <div id="header">
            <h1 id="logo"><a href="{% url 'Produs:home' %}">Urban Shoes</a></h1>
            <div id="navigation">
                <ul>
                    <li><a href="{% url 'Produs:home' %}">Acasa</a></li>
                    {% if request.user.is_authenticated is False%}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'accounts:update_profile' request.user.id %}">{{ request.user.first_name|upper }}</a></li>
                    <li><a href="{% url 'carts:IstoricComenzi' %}">Istoric Comenzi</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:new_user' %}">Creaza Cont</a></li>
                    {% endif %}
                    <li><a href="{% url 'contact:suport' %}">Suport</a></li>
                    <li><a href="{% url 'contact:contact' %}">Contact</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="last"><a href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- End Header -->
        <!-- Slider -->
        {% block content %}
        {% endblock %}
        <!-- End Slider -->
        <!-- Brands -->
        <br/><br/><br/><br/>
        <div class="brands">
            <h3 style="font-size:25px;">Brands</h3>
            <div class="logos">
                <a href="{% url 'Produs:brands' %}?cod=P"><img src="{% static 'css/images/puma.gif' %}" alt=""/></a>
                <a href="{% url 'Produs:brands' %}?cod=A"><img src="{% static 'css/images/adidas.gif' %}" alt=""/></a>
                <a href="{% url 'Produs:brands' %}?cod=B"><img src="{% static 'css/images/new_balance.gif' %}" alt=""/></a>
                <a href="{% url 'Produs:brands' %}?cod=N"><img src="{% static 'css/images/nike.gif' %}" alt=""/></a>
            </div>
        </div>
        <!-- End Brands -->
        <!-- Footer -->
        <div id="footer">
            <div class="left">
                <a href="{% url 'Produs:home' %}">Acasa</a> <span>|</span>
                <a href="{% url 'login' %}">Login</a> <span>|</span>
                <a href="{% url 'accounts:new_user' %}">Creaza Cont</a> <span>|</span>
                <a href="{% url 'contact:suport' %}">Suport</a> <span>|</span>
                <a href="{% url 'contact:contact' %}">Contact</a>
            </div>
            <div class="right"> Proiect SIIT - Mihai Ilie</div><br/>
        </div>
        <!-- End Footer -->
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/carousel.js"></script>

<!--<script src="{% static 'js/jquery.jcarousel.pack.js' %}" type="text/javascript"></script>-->
<!--<script src="{% static '/js/jquery.slide.js' %}" type="text/javascript"></script>-->
<!--<script src="{% static '/js/jquery-func.js' %}" type="text/javascript"></script>-->
<script type="text/javascript"> var $jq1 = jQuery.noConflict(true);</script>


<!-- End Main -->
</body>
</html>
