{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brands</title>
    <style>

    #top{
    height:227px;
    }



    </style>
</head>

<div id="top">
    <div class="shell">
        <br><br><br><br>
        <h2 style="text-align:center; color:white">Sortare produse dupa brand</h2><br>
        <div id="container">
            <div class="tabbed">
                <!-- First Tab Content -->
                <div class="tab-content" style="display:block;">
                    <div class="items">
                        <ul>
                            {% for brands in object_list %}
                            <li>
                                <div class="image"><a href="#"><img src="{{ brands.img.url }}" alt="No picture"
                                                                    style="width:170px;height:150px;"/></a>
                                </div>
                                <p><strong>{{brands.brand}}</strong></p>
                                Culoare: <span style="font-size:14px">{{brands.culoare.upper}}</span><br/>
                                Cod: <span style="font-size:12px">{{brands.cod}}</span><br/>
                                Marimi:<br/>
                                {% for numar in brands.marimi %}
                                <span style="font-size:15px">{{numar}}&nbsp;</span>
                                {% endfor %}
                                <p class="price">Pret: <strong>{{brands.pret}}</strong></p>
                                <p>
                                    <a href="{% url 'carts:cart' %}?id_prod={{ brands.id }}" class="btn btn-dark">Adauga
                                        in cos</a>
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
