{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brands</title>
    <style>
    #top{
        height:100px;
    }



    </style>
</head>

<br><br><br>
<!--        <h2 style="text-align:center; color:dark">Cautare avansata</h2><br>-->
<!--        <div class="input-group">-->
<!--                        </div>-->
<!--                <form method="get">-->
<!--                    <div class="form-group">-->
<!--                        {% for var in filter.form %}}-->
<!--                            {{ var.brand }}-->
<!--                        {% endfor %}-->
<!--&lt;!&ndash;                    {{ filter.form.as_p }}&ndash;&gt;-->
<!--                    <input type="submit"/>-->
<!--                    </div>-->
<!--                </form>-->
<!--        </div>-->
<form method="get">
    <div class="well">
        <h2 style="margin-top: 0; text-align: center">Cautare avansata</h2><br>
        <div class="row">
            <div class="form-group col-sm-4 col-md-3">
                <label for="brand.id_for_label ">Brand</label>
                <!--                {{ filter.form.brand.label_tag}}-->
                {% render_field filter.form.brand class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                <label for="gen.id_for_label ">Gen</label>
                <!--                {{ filter.form.gen.label_tag }}-->
                {% render_field filter.form.gen class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                <label for="brand.id_for_label ">Culoare</label>
                <!--                {{ filter.form.culoare.label_tag }}-->
                {% render_field filter.form.culoare class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                <label for="brand.id_for_label ">Marimi</label>
                <!--                {{ filter.form.marimi.label_tag }}-->
                {% render_field filter.form.marimi class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                <label for="brand.id_for_label ">Cod</label>
                <!--                {{ filter.form.cod.label_tag }}-->
                {% render_field filter.form.cod class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                <label for="brand.id_for_label ">Pret</label>
                <!--                {{ filter.form.pret.label_tag }}-->
                {% render_field filter.form.pret class="form-control" %}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-dark btn-lg" style="width:200px">
        <span class="glyphicon glyphicon-search"></span><strong> CAUTA </strong>
    </button>
    </div>
</form>


<div class="shell">
    <div id="container">
        <div class="tabbed">
            <div class="tab-content" style="display:block;">
                <div class="items">
                    <ul>
                        {% for obj in filter.qs %}
                        <li>
                            <div class="image"><a href="#"><img src="{{ obj.img.url }}" alt="No picture"
                                                                style="width:170px;height:150px;"/></a>
                            </div>
                            <p><strong>{{obj.brand}}</strong></p>
                            Culoare: <span style="font-size:14px">{{obj.culoare.upper}}</span><br/>
                            Cod: <span style="font-size:12px">{{obj.cod}}</span><br/>
                            Marimi:<br/>
                            {% for numar in obj.marimi %}
                            <span style="font-size:15px">{{numar}}&nbsp;</span>
                            {% endfor %}
                            <p class="price">Pret: <strong>{{obj.pret}}</strong></p>
                            <p>
                                <a href="{% url 'carts:cart' %}?id_prod={{ obj.id }}" class="btn btn-dark">Adauga
                                    in cos</a>
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="cl">&nbsp;</div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}